<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Books</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
  <div class="container">
        <div id="books">
            <% for(var i=0; i<books.length; i++){ %>
                <div class="book col-md-10 col-md-offset-1" id=<%= books[i]._id %>>
                  <h3><%= books[i].title %></h3>
                  <p><%= books[i].desc %></p>
                  <a href=<%= 'books/delete/'+books[i]._id %>><button class="btn">delete</button></a>
                  <a href=<%= 'books/edit/'+books[i]._id %>><button class="btn">edit</button></a>
                </div>
            <% } %>
        </div>
        <form action="/books" method="post" class="col-sm-12 col-md-10 col-md-offset-1">
            <label for="title">Title:</label>
            <input type="text" class="form-control"  placeholder="title book" name="title">
            <label for="desc">Description:</label>
            <textarea class="form-control" rows="4" name="desc" ></textarea>
            <button type="submit" class="btn btn-default label-info">Submit</button>
        </form>
</div>
</body>
</html>
