<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Books</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
  <div class="container">
        <form action=<%= "/books/"+id %> method="post" class="col-sm-12 col-md-10" id=<%= id %>>
            <label for="title">Title:</label>
            <input type="text" class="form-control"  placeholder="title book" name="title" required>
            <label for="desc">Description:</label>
            <textarea class="form-control" rows="4" name="desc" required></textarea>
            <button type="submit" class="btn btn-default label-info">Submit</button>
        </form>
</div>
</body>
</html>
