
  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1><%= message %></h1>
    <a href="/books">back</a>
  </body>
  </html>
